@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

:root{
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: radial-gradient(circle, #007EA4, #02546E);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1{
  font-family: "Bagel Fat One", system-ui;
}
